@media(min-width: 768px) and (max-width: 1239px){

    .header{
        border: none;
        margin-bottom: 0;
    } 

    form{
        margin: 0 auto;
    }

    .section{
        position: relative;
        width: 630px;
    }

    .nav__item--active{
        border-bottom: 2px solid #68B738;
    }
    
    .program-selection {
        margin-bottom: 72px;
    }

    .program-selection__title{
        margin: 0 0 54px;
        font-size: 60px;
        line-height: 60px;
    }
    
    input[type=text] {
        font-size: 20px;
        line-height: 30px;
    }
    
    input[type=number] {
        font-size: 20px;
        line-height: 30px;
    }

    .program-selection__promo {
        width: 323px;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 66px;
    }

    .program-selection__name{
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: #444;
    }

    .group-radio-btn {
        border: none;
    }

    .group-input-btn__list{
        padding: 25px;
        border: 1px solid rgba(217, 217, 217, 1);
    }

    .section__title{
        padding-right: 15px;
        width: max-content;
        max-width: max-content;
        background-color: #fff;
        z-index: 2;
    }

    .comment{
        width: 630px;
    }

    .comment::placeholder{
        font-size: 20px;
        line-height: 30px;
    }

    .group-checkbox-btn__list{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 32px;
        column-gap: 124px;
    }

    .group-checkbox-btn__item{
        width: 220px;
    }

    .finish-form{
        flex-direction: row;
        column-gap: 63px;
    }

    .adress{
        width: 100%;
        background: #F2F2F2;
    }

    .adress__block{
        width: 630px;
        margin: 0 auto;
    }

    .adress__title{
        width: 170px;
        font-size: 20px;
        line-height: 26px;
    }

    .adress__block > span{
        width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    .adress__text{
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
    }

    .map{
        height: 396px;
        background-image: url(../../img/desktop/Map.png);
    }
}
